body {
    margin: 0;
    font-family:'Special Elite', cursive;
    color: rgb(16, 203, 16);
    background: rgb(16,203,16);
    background: radial-gradient(circle, rgba(16,203,16,1) 0%, rgba(45,45,49,1) 100%);
    
  }

  h1 {
    text-align: center;
    font-size: 4em;
    letter-spacing: 8px;
    color:rgba(0, 0, 0, 0.741);
  }

  .app {
    background-color: #2d2d31;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #51f745 0, #51f745 1px, #2d2d31 0, #2d2d31 50%);
    justify-content: center;
    display: flex;
    height: 100vh; 
  }
  
  .todo-list{
    background-color: black;
    padding: 5px;
    max-width: 400px;
    
  }
  
.todo-list:nth-child(odd) {
  background-color:#2d2d31
}

.todo:hover {
  background: rgb(6, 95, 6);
  
}

  .todo{
    background: black;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .input{
    background-color: black;
    color:rgb(16, 203, 16);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
    font-family:'Special Elite', cursive;
    outline-color: rgb(16, 203, 16);
  }
  